@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --primary-color:#007FFF;
    --dark-gray:#6B7280;
    --off-white:#F3F4F6;
}
body{
    font-family: 
    'Montserrat',
     sans-serif;
     display: block;
     margin:0;
    text-align: center;
}
h1{
    font-size:3rem;
}
label{
    text-align: center;
    color: var(--primary-color);
    font-size: 2rem;
    display: block;
    
}
input{
    padding: 1rem 10rem 1rem 5rem;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
    border-color:  var(--primary-color);
    text-align: center;
}
:placeholder-shown{
    padding: 1rem 2rem 1rem 2rem;
}
#submit-btn{
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: white;
    border-color: var(--primary-color);
    width: 10rem;
    height: 3rem;
    
}